.buttons {
    margin: auto 5%;

    font-size: 1.2rem;

    cursor: pointer;

    padding: 10px;
    border: var(--BORDER-BLUE);
    background-color: aliceblue;
}

.title_selection {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5vh auto;

    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}

.container__selection {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 8vh auto;

    flex-direction: column;

}

.categories__selection {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 50vw;

    flex-direction: column;

}

.buttons__selection {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5vh auto;
}

/** Mobile **/
@media screen and (max-width: 768px) {
    
    .title_selection {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    
        margin: 5vh auto;

        letter-spacing: 0.08rem;
        word-spacing: 0.25rem;
    }

    .container__selection {
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        margin: 6vh auto;
    
        flex-direction: column;
        font-size: 0.7rem;
    }

    .categories__selection {
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        width: 65vw;

        flex-direction: column;
    
    }

    .buttons__selection {
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        margin: 3vh auto;
    }

    .buttons {
        margin: auto 10%;
    
        font-size: 0.8rem;
    
        cursor: pointer;
    
        padding: 10px;
        border: var(--BORDER-BLUE);
        background-color: aliceblue;
    }

}