.container-about {
    width: 100vw;
    min-height: 80vh;
}

.about {
    display: flex;

    justify-content: center;
    align-items: flex-start;

    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

section {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5vh auto;

}

img {
    border: 1px solid blue;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

img:hover, img:focus-visible {
    border: 1px solid skyblue;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;

    cursor: pointer;
}

.intro p {
    font-size: 1.2rem;

    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
}

.tech-stack {
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    margin: 2vh 2vh;

    min-height: 60vh;
}

.tech-stack-row {
    display: flex;
    flex-direction: row;
}

.tech-stack-column {
    display: flex;
    flex-direction: column;
}

.tech-stack h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.tech-stack h2 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    margin: 1vh 3vw;
}

.tech-stack ul {
    margin: 1vh 5vw;
    list-style-type: upper-roman;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.tech-stack ul li a {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}