:root {

    /** Spacing **/
    --LETTER-SPACING-ABOUT: 0.12rem;

    /** Borders **/
    --BORDER-BLUE: 1px solid blue;

    /** Transitions **/
    --TRANSITION-SHORT: all 0.5s ease-in;
}

.container__about {
    width: 100vw;
    min-height: 80vh;
}

.title__about {
    display: flex;

    justify-content: center;
    align-items: flex-start;
}

.title__about a {
    color: #000;
    transition: var(--TRANSITION-SHORT);
}

.title__about a:hover,
.title__about a:focus {
    cursor: crosshair;

    color: darkblue;
    letter-spacing: var(--LETTER-SPACING-ABOUT);
    transition: var(--TRANSITION-SHORT);
}

.intro__about p {
    font-size: 1.2rem;

    letter-spacing: var(--LETTER-SPACING-ABOUT);
    word-spacing: 0.35rem;
}

section {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5vh auto;

    flex-direction: column;
}

section.subintro__about {
    width: 60vw;
}

section.subintro__about h3 {
    font-size: 1.8rem;
    margin: 2vh;
}

section.subintro__about p {
    font-size: 1.2rem;
    padding: 5vh;

    align-items: flex-start;
    letter-spacing: var(--LETTER-SPACING-ABOUT);
    word-spacing: 0.25rem;
    word-wrap: break-word;
    text-indent: 3vh;
}


img {
    border: var(--BORDER-BLUE);
    border-radius: 50%;
}

.tech-stack__about {
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    margin: 2vh 2vh;

    min-height: 40vh;

}

.tech-stack-row__about {
    display: flex;
    flex-direction: row;
}

.tech-stack-column__about {
    display: flex;
    flex-direction: column;
}

.tech-stack__about h1 {
    font-size: 2rem;
    letter-spacing: var(--LETTER-SPACING-ABOUT);
    margin: auto 2vw;
}

.tech-stack__about h2 {
    font-size: 1.5rem;
    letter-spacing: var(--LETTER-SPACING-ABOUT);
    margin: 1vh 3vw;
}

.tech-stack__about ul {
    margin: 1vh 5vw;
    list-style-type: upper-roman;
    font-size: 1.2rem;
    letter-spacing: var(--LETTER-SPACING-ABOUT);

    margin-bottom: 15vh;
}

.tech-stack__about ul li a {
    font-size: 1.2rem;
    letter-spacing: var(--LETTER-SPACING-ABOUT);
}