.container-about {
    width: 100vw;
    min-height: 80vh;
}

.about {
    display: flex;

    justify-content: center;
    align-items: flex-start;

    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    
}

.about a {
    color: #000;
    transition: all 0.5s ease-in;
}



.about a:hover, .about a:focus {
    cursor: crosshair;

    color: darkblue;
    letter-spacing: 0.15rem;
    transition: all 0.5s ease-in;
}

section {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 5vh auto;

    flex-direction: column;
}

section.subintro {
    width: 60vw;
}

section.subintro p {
    font-size: 1.2rem;
    padding: 5vh;

    align-items: flex-start;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    word-wrap: break-word;
    text-indent: 2vh;
}

section.subintro h3 {
    font-size: 1.8rem;
    margin: 2vh;
}

img {
    border: 1px solid blue;
    border-radius: 50%;
}

.intro p {
    font-size: 1.2rem;

    letter-spacing: 0.15rem;
    word-spacing: 0.35rem;
}

.tech-stack {
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    margin: 2vh 2vh;

    min-height: 40vh;

}

.tech-stack-row {
    display: flex;
    flex-direction: row;
}

.tech-stack-column {
    display: flex;
    flex-direction: column;
}

.tech-stack h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.tech-stack h2 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    margin: 1vh 3vw;
}

.tech-stack ul {
    margin: 1vh 5vw;
    list-style-type: upper-roman;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;

    margin-bottom: 15vh;
}

.tech-stack ul li a {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}