.container {
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    margin: 3vh 5vw;
}

.container__questions {
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    min-height: 30vh;

    margin: 3vh 5vw;
}

.question__questions {
    font-size: 1.5rem;

    word-spacing: 0.3rem;
    letter-spacing: 0.15rem;
}

.answers__questions {
    display: flex;

    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;

    height: 10vh;
}

.answer__questions {
    display: flex;

    margin: 1vh 1vw;

    font-weight: 300;
    letter-spacing: 0.05em;

    border-bottom: 2px solid #DCE3FF;
    padding: 10px 10px;
    border-radius: 15px 5px;
}

.answer__questions:hover,
.answer__questions:focus {
    cursor: pointer;

    background-color: #fff8dc;
    color: black;
    border-bottom: 4px solid #DCE3FF;

    transition: all 0.3s ease-in;
    transform: scale(1.05);
}

.success__message__questions {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: green;
}

.success__message__questions h3 {
    padding: 20px;
}

.navigation {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.navigation.item {
    padding: 20px 10px;
}