#blue {
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.quiz-container {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    animation: quizAnimation 2s ease-in;

}

.quiz-question {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 3.2em;
    letter-spacing: 0.1em;
    word-spacing: 0.15em;
    width: 70vw;
    min-height: 15vh;
}

.quiz-answers {
    display: flex;

    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    font-size: 1.4em;

    width: 90vw;
    height: 40vh;
}

.quiz-answer {
    font-weight: 300;
    letter-spacing: 0.05em;

    border-bottom: 2px solid #DCE3FF;
    padding: 10px 10px;
    border-radius: 15px 5px;
}

.quiz-answer:hover, .quiz-answer:focus {
    cursor: pointer;

    background-color: #fff8dc;
    color: black;
    border-bottom: 4px solid #DCE3FF;

    transition: all 0.3s ease-in;
    transform: scale(1.05);
}

.answered {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 60vh;

    font-size: 1.5em;

    animation: answeredAnim 1s ease-in;
}

.answered .message-success {
    color: white;
    background-color: #003D04;
    border-radius: 5px 35px;
    padding: 2% 3%;
}


.answered .user-answer-title {
    font-weight: 300;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
    display: flex;
    justify-content: center;
    margin: 2vh;

    padding: 0px 10px 5px 10px;

    border-bottom: 2px solid #DCE3FF;
    border-right: 3px solid #DCE3FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

.answered .user-answer-times {
    text-decoration: overline;
}

.answered .user-answer {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    margin: auto 1vh;
}


.answered .answer-list {
    margin: 30px;
    width: 40vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.answered .answer-list ol.roman {
    list-style-type: upper-roman;
    color: slateblue;
    list-style-position: inside;
}

.answered .answer-list ol.roman li {
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
    text-align: right;
}

::marker {
    color: #4182B8;
}


/* navigation */
.back-again {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 10px 0px;

    width: 50%;

    margin: 5%;
    border-bottom: 2px solid #DCE3FF;
}


@keyframes quizAnimation {
    from {
        opacity: 0;
        transform: translate(-5% -5%);
    }
    to {
        opacity: 1;
        transform: translate(0 0);
    }
}

@keyframes answeredAnim {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}