.container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.quiz-container {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.quiz-question {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 3.2em;

    width: 80vw;
    height: 10vh;
}

.quiz-answers {
    display: flex;

    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    font-size: 1.4em;

    width: 80vw;
    height: 40vh;
}

.quiz-answer {
    border-bottom: 1px solid blue;
    padding: 10px 10px;
    border-radius: 10px 10px;
}

.quiz-answer:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.answered {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 60vh;

    font-size: 2em;

    animation: answeredAnim 2s ease-in;
}

.message-success {
    color: green;
}


.user-answer-title {
    display: flex;

    margin: auto 2vh;
}

.user-answer {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: auto 1vh;
}

#blue {
    color: blue;
}

@keyframes answeredAnim {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}