.nav {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    min-height: 5vh;
}

.nav .nav-back {
    display: flex;
    margin: auto 2vw;
}

.nav-back a, a:visited, a:hover, a:any-link {
    text-decoration: none;
    cursor: pointer;

    font-size: 1.5em;
    letter-spacing: 0.15em;
    color: blue;

}

.nav-back:hover {
    transform: scale(0.9);
    transition: 0.5s ease-in;
}


/* Mobile */
@media screen and (max-width: 768px) {
    
    .nav {
        display: flex;
    
        justify-content: flex-start;
        align-items: center;
    
        min-height: 7vh;
    }
    
    .nav .nav-back {
        display: flex;
        margin: auto 3vw;
    }
    
    .nav-back a, a:visited, a:hover, a:any-link {
        text-decoration: none;
        cursor: pointer;
    
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: blue;
    
    }

}