.languages {
    position: fixed;
    bottom: 0;
    right: 5vw;
}

.switch {
    position: fixed;
    display: inline-block;
    width: 80px;
    height: 44px;

    bottom: 5vh;
    right: 5vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {

    font-size: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    content: "BG";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: #2196F3;

}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);

    content: "EN";
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Mobile **/
@media screen and (max-width: 768px) {
    .languages {
        position: fixed;
        bottom: 0;
        right: 4vw;
    }
    
    .switch {
        position: fixed;
        display: inline-block;
        width: 58px;
        height: 32px;
    
        bottom: 8vh;
        right: 4vh;
    }

    .slider:before {

        font-size: 0.5rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        content: "BG";
        height: 28px;
        width: 28px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    
        content: "EN";
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 26px;
    }
}